<!doctype html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

    <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css" >

    <style>
            {{{css}}}
    </style>

</head>
<body>
<div id="resume">

    {{#resume.basics}}
        <div class="header">
            <div class="fullname">
                <h1>{{name}}</h1>
            </div>
            <h2 class="label">{{label}}</h2>
            <div class="contact">
                {{#if website}}
                    <div class="website">
                        <a href="{{website}}">{{website}}</a>
                    </div>
                {{/if}}
                {{#if email}}
                    <div class="contact-details">
                        {{#if email}}
                            <span class="email">
                                <a href="mailto:{{email}}">{{email}}</a>
                            </span>
                        {{/if}}
                        {{#if phone}}
                            <span class="phone">
                                - {{phone}}
                            </span>
                        {{/if}}
                    </div>
                {{/if}}
            </div>
        </div>
    {{/resume.basics}}

    <div class="resume-wrapper">

        {{#resume.basics}}
            <div class="row">
                <div class="col-xs-12">
                    <section id="basics">
                        {{#if summary}}
                            <div class="summary">
                                <p>{{summary}}</p>
                            </div>
                        {{/if}}
                    </section>
                </div>
            </div>
        {{/resume.basics}}

        <div class="row content">
            <div class="col-xs-3 side">
                {{#if resume.skills.length}}
                    <section id="skills">
                        <h2>Skills</h2>
                        {{#each resume.skills}}
                            <div class="item">
                                {{#if name}}
                                    <div class="name">
                                        {{name}}
                                    </div>
                                {{/if}}
                                {{#if level}}
                                    <div class="level">
                                        <em>{{level}}</em>
                                    </div>
                                {{/if}}
                                {{#if keywords.length}}
                                    <div class="keywords">
                                        {{#each keywords}}
                                            <span>{{.}}</span>
                                        {{/each}}
                                    </div>
                                {{/if}}
                            </div>
                        {{/each}}
                    </section>
                {{/if}}
                {{#if resume.languages.length}}
                    <section id="languages">
                        <h2>Languages</h2>
                        {{#each resume.languages}}
                            <div class="item">
                                {{#if language}}
                                    <div class="language">
                                        {{language}}
                                    </div>
                                {{/if}}
                                {{#if fluency}}
                                    <div class="fluency">
                                        <em>{{fluency}}</em>
                                    </div>
                                {{/if}}
                            </div>
                        {{/each}}
                    </section>
                {{/if}}
                {{#if resume.interests.length}}
                    <section id="interests">
                        <h2>Interests</h2>
                        {{#each resume.interests}}
                            <div class="item">
                                {{#if name}}
                                    <div class="name">
                                        {{name}}
                                    </div>
                                {{/if}}
                                {{#if keywords.length}}
                                    <ul class="keywords">
                                        {{#each keywords}}
                                            <li>{{.}}</li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            </div>
                        {{/each}}
                    </section>
                {{/if}}
            </div>
            <div class="col-xs-9">
                {{#if resume.work.length}}
                    <section id="work">
                        <h2>Work Experience</h2>
                        {{#each resume.work}}
                            <div class="item">

                                <div class="row">
                                    <div class="description col-xs-8">
                                        {{#if position}}
                                            <span class="position">
                                                {{position}}
                                            </span>
                                        {{/if}}
                                        {{#if company}}
                                            <span class="name">
                                                {{company}}
                                            </span>
                                        {{/if}}
                                        {{#if location}}
                                            <span class="location">
                                                {{location}}
                                            </span>
                                        {{/if}}
                                    </div>
                                    <div class="description col-xs-4">
                                        {{#if dates}}
                                            {{#each dates}}
                                                <div class="date">

                                                    {{#if startDate}}
                                                        <span class="startDate">
                                                            {{startDate}}
                                                        </span>
                                                    {{/if}}
                                                    {{#if endDate}}
                                                        <span class="endDate">
                                                        — {{endDate}}
				                                    </span>
                                                    {{else}}
                                                        <span class="endDate">
					                                    - Now
				                                    </span>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{else}}
                                            <div class="date">
                                                {{#if startDate}}
                                                    <span class="startDate">
                                                        {{startDate}}
                                                    </span>
                                                {{/if}}
                                                {{#if endDate}}
                                                    <span class="endDate">
					                            — {{endDate}}
				                            </span>
                                                {{else}}
                                                    <span class="endDate">
					                            - Now
				                            </span>
                                                {{/if}}
                                            </div>
                                        {{/if}}

                                        {{#if website}}
                                            <div class="website">
                                                <a href="http://{{website}}" target="_blank">{{website}}</a>
                                            </div>
                                        {{/if}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="infos col-xs-12">
                                        <div class="description">
                                            {{#if summary}}
                                                <div class="summary">
                                                    <p>{{summary}}</p>
                                                </div>
                                            {{/if}}
                                            {{#if highlights.length}}
                                                <ul class="highlights">
                                                    {{#each highlights}}
                                                        <li>{{.}}</li>
                                                    {{/each}}
                                                </ul>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {{/each}}
                    </section>
                {{/if}}

                {{#if resume.education.length}}
                    <section id="education">
                        <h2>Education</h2>
                        {{#each resume.education}}
                            <div class="item">

                                <div class="row">
                                    <div class="col-xs-8">
                                        {{#if institution}}
                                            <div class="institution">
                                                {{institution}}
                                            </div>
                                        {{/if}}
                                        {{#if area}}
                                            <div class="area">
                                                {{area}}
                                            </div>
                                        {{/if}}
                                        {{#if studyType}}
                                            <div class="studyType">
                                                {{studyType}}
                                            </div>
                                        {{/if}}
                                        {{#if gpa}}
                                            <div class="gpa">
                                                GPA: {{gpa}}
                                            </div>
                                        {{/if}}
                                        {{#if courses.length}}
                                            <ul class="courses">
                                                {{#each courses}}
                                                    <li>{{.}}</li>
                                                {{/each}}
                                            </ul>
                                        {{/if}}
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="date">
                                            {{#if startDate}}
                                                <span class="startDate">
                                                    {{startDate}}
                                                </span>
                                            {{/if}}
                                            {{#if endDate}}
                                                <span class="endDate">
                                                — {{endDate}}
                                            </span>
                                            {{else}}
                                                <span class="endDate">
                                                — Now
                                            </span>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {{/each}}
                    </section>
                {{/if}}

                {{#if resume.volunteer.length}}
                    <section id="volunteer">
                        <h2>Volunteer</h2>
                        {{#each resume.volunteer}}
                            <div class="item">
                                {{#if organization}}
                                    <h3 class="company">
                                        {{organization}}
                                    </h3>
                                {{/if}}
                                <div class="date">
                                    {{#if startDate}}
                                        <span class="startDate">
                                            {{startDate}}
                                        </span>
                                    {{/if}}
                                    {{#if endDate}}
                                        <span class="endDate">
                                — {{endDate}}
                            </span>
                                    {{/if}}
                                </div>
                                {{#if position}}
                                    <div class="position">
                                        {{position}}
                                    </div>
                                {{/if}}
                                {{#if website}}
                                    <div class="website">
                                        <a href="{{website}}"><em>{{website}}</em></a>
                                    </div>
                                {{/if}}
                                {{#if summary}}
                                    <div class="summary">
                                        <p>{{summary}}</p>
                                    </div>
                                {{/if}}
                                {{#if highlights.length}}
                                    <ul class="highlights">
                                        {{#each highlights}}
                                            <li>{{.}}</li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            </div>
                        {{/each}}
                    </section>
                {{/if}}

                {{#if resume.awards.length}}
                    <section id="awards">
                        <h2>Awards</h2>
                        {{#each resume.awards}}
                            <div class="item">
                                {{#if title}}
                                    <div class="title">
                                        {{title}}
                                    </div>
                                {{/if}}
                                {{#if date}}
                                    <div class="date">
                                        {{date}}
                                    </div>
                                {{/if}}
                                {{#if awarder}}
                                    <div class="awarder">
                                        {{awarder}}
                                    </div>
                                {{/if}}
                                {{#if summary}}
                                    <div class="summary">
                                        <p>{{summary}}</p>
                                    </div>
                                {{/if}}
                            </div>
                        {{/each}}
                    </section>
                {{/if}}

                {{#if resume.certifications.length}}
                    <section id="certifications">
                        <h2>Certifications</h2>
                        {{#each resume.certifications}}
                            <div class="item">
                                {{#if name}}
                                    <div class="name">
                                        {{#if website}}
                                            <a href="{{website}}">{{name}}</a>
                                        {{else}}
                                            {{name}}
                                        {{/if}}
                                    </div>
                                {{/if}}
                                {{#if institution}}
                                    <div class="institution">
                                        {{institution}}
                                    </div>
                                {{/if}}
                                {{#if receiveDate}}
                                    <div class="receiveDate">
                                        {{receiveDate}}
                                    </div>
                                {{/if}}
                            </div>
                        {{/each}}
                    </section>
                {{/if}}

                {{#if resume.publications.length}}
                    <section id="publications">
                        <h2>Publications</h2>
                        {{#each resume.publications}}
                            <div class="item">
                                {{#if name}}
                                    <div class="name">
                                        {{#if url}}
                                            <a href="{{url}}">{{name}}</a>
                                        {{else}}
                                            {{name}}
                                        {{/if}}
                                    </div>
                                {{/if}}
                                {{#if publisher}}
                                    <div class="publisher">
                                        {{publisher}}
                                    </div>
                                {{/if}}
                                {{#if releaseDate}}
                                    <div class="releaseDate">
                                        {{releaseDate}}
                                    </div>
                                {{/if}}
                                {{#if website}}
                                    <div class="website">
                                        <a href="{{website}}">Link</a>
                                    </div>
                                {{/if}}
                                {{#if summary}}
                                    <div class="summary">
                                        <p>{{summary}}</p>
                                    </div>
                                {{/if}}
                            </div>
                        {{/each}}
                    </section>
                {{/if}}

                {{#if resume.references.length}}
                    <section id="references">
                        <h2>References</h2>
                        {{#each resume.references}}
                            <div class="item">
                                {{#if reference}}
                                    <blockquote class="reference">
                                        {{reference}}
                                    </blockquote>
                                {{/if}}
                                {{#if name}}
                                    <div class="name">
                                        — {{name}}
                                    </div>
                                {{/if}}
                            </div>
                        {{/each}}
                    </section>
                {{/if}}

            </div>
        </div>
    </div>
</div>

</body>
</html>
